
services:
    
  gateway:
    container_name: gateway
    image: gateway
    build:
      context: ./api-gateway
      dockerfile: Dockerfile.gateway
    secrets:
      - ssl_key_back
      - ssl_crt_back
    # env_file:
    #   - .env
    ports:
      - "5000:3000"
    networks:
      - backend
    # volumes:
    #   - "database_assets:/app/dist/db"
  jwt:
    container_name: jwt
    image: jwt
    build:
      context: ./jwt
      dockerfile: Dockerfile.jwt
    secrets:
      - ssl_key_back
      - ssl_crt_back
    ports:
      - "3000"
    networks:
      - backend


# volumes:
#   database_assets:
#     driver: local
#     driver_opts:
#       type: 'none'
#       o: 'bind'
#       device: './backend/db'

networks:
  backend:
    name: backend

secrets:
  ssl_key_back:
    file: ".SECRET/private_key.pem"
  ssl_crt_back:
    file: ".SECRET/certificate.pem"
