services:
  gateway:
    container_name: gateway
    image: gateway
    build:
      context: ./api-gateway
      dockerfile: Dockerfile.gateway
    secrets:
      - ssl_key_back
      - ssl_crt_back
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    ports:
      - "3000"
    networks:
      - web
      - backend

  auth:
    container_name: auth
    image: auth
    build:
      context: ./auth
      dockerfile: Dockerfile.auth
    secrets:
      - ssl_key_back
      - ssl_crt_back
    ports:
      - "3000"
    volumes:
      - "authDB:/app/dist/db"
    networks:
      - backend

  game:
    container_name: game
    image: game
    build:
      context: ./game
      dockerfile: Dockerfile.game
    secrets:
      - ssl_key_back
      - ssl_crt_back
    ports:
      - "3000"
    volumes:
      - "gameDB:/app/dist/db"
    networks:
      - backend

  user:
    container_name: user
    image: user
    build:
      context: ./user
      dockerfile: Dockerfile.user
    secrets:
      - ssl_key_back
      - ssl_crt_back
    ports:
      - "3000"
    volumes:
      - "userDB:/app/dist/db"
      - "shared_uploads:/app/uploads"
    networks:
      - backend

  jwt:
    container_name: jwt
    image: jwt
    build:
      context: ./jwt
      dockerfile: Dockerfile.jwt
    secrets:
      - ssl_key_back
      - ssl_crt_back
    ports:
      - "3000"
    volumes:
      - "jwtDB:/app/dist/db"
    networks:
      - backend
    env_file: ../.env

  notif:
    container_name: notif
    image: notif
    build:
      context: ./notif
      dockerfile: Dockerfile.notif
    secrets:
      - ssl_key_back
      - ssl_crt_back
    ports:
      - "3000"
    networks:
      - backend

  ping:
    container_name: ping
    image: ping
    build:
      context: ./ping
      dockerfile: Dockerfile.ping
    secrets:
      - ssl_key_back
      - ssl_crt_back
    ports:
      - "3000"
    volumes:
      - "pingDB:/app/dist/db"
    networks:
      - backend

  twofa:
    container_name: twofa
    image: twofa
    build:
      context: ./twofa
      dockerfile: Dockerfile.twofa
    secrets:
      - ssl_key_back
      - ssl_crt_back
    ports:
      - "3000"
    volumes:
      - "twofaDB:/app/dist/db"
    networks:
      - backend
    env_file: ../.env
